In [1]:
import numpy as np
from IPython.display import display
import pandas as pd
np.set_printoptions(suppress=True, formatter={'float_kind': '{:0.1f}'.format})

In [56]:
df1 = pd.DataFrame({'A':[None, 2, 3, None, 5], 'B':[10, None, None, 40, 50], 'C':[100, None, 300, 400,
None]})
display(df1)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [7]:
df1.dropna()

Empty DataFrame
Columns: [A, B, C]
Index: []

In [17]:
df1.dropna(thresh=len(df1.columns))
display(df1)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [27]:
df1=df1.dropna(subset=["A","C"])
display(df1)

     A   B      C
2  3.0 NaN  300.0

In [35]:
df1=df1.fillna("redacted")
display(df1)

          A         B         C
0  redacted      10.0     100.0
1       2.0  redacted  redacted
2       3.0  redacted     300.0
3  redacted      40.0     400.0
4       5.0      50.0  redacted

In [68]:
mean1=(df1['B'].mean())
df1['B']=df1["B"].fillna(mean1)
display(df1)

     A          B      C
0  NaN  10.000000  100.0
1  2.0  33.333333    NaN
2  3.0  33.333333  300.0
3  NaN  40.000000  400.0
4  5.0  50.000000    NaN